@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0 auto;
  font-family: 'Red Hat Display', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  max-width: 1450px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.login-copy span {
  position: relative;
  opacity: 0;
  animation: move-text 0.75s forwards;
}

@keyframes move-text {
  0% { bottom: -0.2em; opacity: 1; }
  50% { bottom: 0.2em; }
  100% { bottom: 0; opacity: 1; }
}

.final-copy {
  animation: move-down 1s linear forwards;
}

@keyframes move-down {
  0% { padding-top: 80px; }
  20% { padding-top: 80px; }
  100% { padding-top: 250px; }
}

.flex {
  display: flex;
  flex-wrap: nowrap;
}

.slide-out {
  animation: slide-out 1s linear forwards;
}

@keyframes slide-out {
  0% { margin-right: -300px; }
  50% { margin-right: 100px; }
  100% { margin-right: 10px; }
}